/* src/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo img {
    height: 40px;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    text-transform: uppercase;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links .profile a {
    border-radius: 5px;
}